<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng Nhập</title>
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="container">
    <h2>Đăng Nhập</h2>
    <form id="login-form">
      <br>
      <div class="form-group">
        <input type="text" id="login-email" name="email" placeholder="" required>
        <label for="login-email">Tài khoản</label>
      </div>
      <br>
      <div class="form-group">
        <input type="password" id="login-password" name="password" placeholder="" required>
        <label for="login-password">Mật khẩu</label>
      </div>
      <button type="button" onclick="Login()">Đăng Nhập</button>
    </form>
  </div>

  <script src="/public/js/login.js"></script>
</body>

</html>